html {
  font-family: sans-serif;
}

.bg-blue {
  background-color: rgb(2, 130, 249);
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
  color: white;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

header .bg-blue {
  height: 2vh;
}
header .bg-blue .container span {
  color: white;
  font-size: 0.7rem;
}
header .header {
  height: 7rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header img {
  height: 5rem;
}
header .header nav {
  height: 100%;
}
header .header nav ul {
  display: flex;
  justify-content: end;
  height: 100%;
}
header .header nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
}
header .header nav ul li a {
  text-decoration: none;
  color: black;
}
header .header nav ul li.active, header .header nav ul li:active {
  border-color: rgb(2, 130, 249);
}
header .header nav ul li.active a, header .header nav ul li:active a {
  color: rgb(2, 130, 249);
}

main .content {
  padding: 5rem 0;
}
main #jumbotron {
  height: 40vh;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}
main .container {
  position: relative;
  padding: 3rem 0;
}
main .container .title {
  font-size: 1.7rem;
  text-transform: uppercase;
  background-color: rgb(2, 130, 249);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
main .container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .container .cards .card {
  width: calc(16.6666666667% - 1rem);
  margin-right: 1rem;
  margin-bottom: 3rem;
}
main .container .cards .card img {
  width: 100%;
  height: 12rem;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
main .container .cards .card h3 {
  font-weight: 200;
}
main .container .buttons {
  display: flex;
  justify-content: center;
}
main .container .buttons .btn {
  background-color: rgb(2, 130, 249);
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 3rem;
}

footer #footer-up {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
}
footer #footer-up .container {
  position: relative;
  overflow: hidden;
}
footer #footer-up .container img {
  height: 50vh;
  position: absolute;
  top: -50px;
  right: 50px;
}
footer #footer-up .url-container {
  max-width: 45%;
  max-height: 40vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer #footer-up .url-container ul {
  margin-bottom: 1.5rem;
}
footer #footer-up .url-container ul li {
  list-style-type: none;
  font-size: 0.8rem;
}
footer #footer-up .url-container ul li:first-child {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
footer #footer-up .url-container ul li:first-child a {
  color: white;
}
footer #footer-up .url-container ul li a {
  color: gray;
  text-decoration: none;
}
footer #footer-down {
  background-color: rgb(48, 48, 48);
  padding: 2.5rem 0;
}
footer #footer-down .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer-down .container > div {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: center;
}
footer #footer-down .container > div span {
  color: rgb(2, 130, 249);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
footer #footer-down .container > div ul {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
footer #footer-down .container > div ul li {
  list-style-type: none;
}
footer #footer-down .container .btn {
  padding: 1rem;
  border: rgb(2, 130, 249) solid 3px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}