html {
  font-family: sans-serif;
}

.bg-blue {
  background-color: rgb(2, 130, 249);
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-gray {
  background-color: hsl(0deg, 0%, 96%);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.my-container {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 0;
}

header .bg-blue {
  height: 2vh;
}
header .bg-blue .container span {
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
}
header .header {
  height: 7rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header img {
  height: 5rem;
}
header .header nav {
  height: 100%;
}
header .header nav ul {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
header .header nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
}
header .header nav ul li a {
  text-decoration: none;
  color: black;
}
header .header nav ul li.active, header .header nav ul li:active {
  border-color: rgb(2, 130, 249);
}
header .header nav ul li.active a, header .header nav ul li:active a {
  color: rgb(2, 130, 249);
}

main .content {
  padding: 5rem 0;
}
main .container {
  position: relative;
  padding: 3rem 0;
}
main .container .title {
  font-size: 1.7rem;
  text-transform: uppercase;
  background-color: rgb(2, 130, 249);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
main .container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .container .cards .card {
  text-decoration: none;
  width: calc(16.6666666667% - 1rem);
  margin-right: 1rem;
  margin-bottom: 3rem;
}
main .container .cards .card:hover h3 {
  color: white;
}
main .container .cards .card img {
  width: 100%;
  height: 15rem;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
main .container .cards .card h3 {
  font-weight: 200;
  font-size: 1.3rem;
}
main .container .buttons {
  display: flex;
  justify-content: center;
}
main .container .buttons .btn {
  background-color: rgb(2, 130, 249);
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 3rem;
}
main #main-menu {
  padding: 3rem 0;
}
main #main-menu ul {
  display: flex;
  justify-content: space-around;
  color: white;
}
main #main-menu ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
main #main-menu ul li img {
  height: 3.5rem;
  max-width: 3.5rem;
}
main #main-menu ul li span {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

#jumbotron {
  height: 60vh;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

div#comic section#upper-comic {
  width: 100%;
  height: 10vh;
  background-color: rgb(2, 130, 249);
}
div#comic section#upper-comic > .comic-prev {
  position: absolute;
  left: 15%;
  transform: translateY(-75%);
}
div#comic section#upper-comic > .comic-prev .type, div#comic section#upper-comic > .comic-prev .gallery {
  background-color: hsl(193deg, 100%, 43%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
}
div#comic section#upper-comic > .comic-prev .type {
  top: 0;
  left: 0;
  padding: 2px 5px;
}
div#comic section#upper-comic > .comic-prev .gallery {
  bottom: 0;
  width: 100%;
}
div#comic section#infobox h1 {
  color: hsl(200deg, 100%, 20%);
  font-weight: bold;
}
div#comic section#infobox .shop-info {
  background-color: hsl(122deg, 42%, 53%);
  color: hsla(122deg, 70%, 75%, 0.945);
  font-weight: bold;
  height: 5vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}
div#comic section#infobox .shop-info .price-tag {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}
div#comic section#infobox .shop-info .price-tag .price span {
  color: white;
}
div#comic section#infobox .shop-info .check {
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 1px solid gray;
  padding: 0.2rem 0.5rem;
  color: white;
}
div#comic section#infobox .adv {
  text-align: right;
}
div#comic section#infobox .description {
  color: rgb(146, 145, 145);
}

section.artist-spec h3 {
  color: hsl(200deg, 100%, 20%);
  font-weight: bold;
  margin-bottom: 2rem;
}
section.artist-spec .spec-section {
  border-bottom: 1px solid rgba(184, 183, 183, 0.562);
  border-top: 1px solid rgba(184, 183, 183, 0.562);
  padding: 0.2rem 0;
}
section.artist-spec .spec-section .title {
  color: hsl(200deg, 100%, 20%);
  font-weight: bold;
}
section.artist-spec .spec-section .artist, section.artist-spec .spec-section .writer {
  color: hsl(193deg, 100%, 43%);
}
section.artist-spec .spec-section .info {
  color: rgb(141, 140, 140);
}
section.artist-spec .spec-section .info.price {
  text-transform: uppercase;
  color: hsl(193deg, 100%, 43%);
}

footer #footer-up {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
}
footer #footer-up .container {
  position: relative;
  overflow: hidden;
}
footer #footer-up .container img {
  height: 50vh;
  position: absolute;
  top: -50px;
  right: 50px;
}
footer #footer-up .url-container {
  max-width: 45%;
  max-height: 40vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer #footer-up .url-container ul {
  margin-bottom: 1.5rem;
}
footer #footer-up .url-container ul li {
  list-style-type: none;
  font-size: 0.8rem;
}
footer #footer-up .url-container ul li:first-child {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
footer #footer-up .url-container ul li:first-child a {
  color: white;
}
footer #footer-up .url-container ul li a {
  color: gray;
  text-decoration: none;
}
footer #footer-down {
  background-color: rgb(48, 48, 48);
  padding: 2.5rem 0;
}
footer #footer-down .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer-down .container > div {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: center;
}
footer #footer-down .container > div span {
  color: rgb(2, 130, 249);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
footer #footer-down .container > div ul {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
footer #footer-down .container > div ul li {
  list-style-type: none;
}
footer #footer-down .container .btn {
  padding: 1rem;
  border: rgb(2, 130, 249) solid 3px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}